<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kiosko</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="../assets/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="../assets/css/Bold-BS4-Jumbotron-with-Particles-js-1.css">
    <link rel="stylesheet" href="../assets/css/Bold-BS4-Jumbotron-with-Particles-js.css">
    <link rel="stylesheet" href="../assets/css/Card-Store.css">
    <link rel="stylesheet" href="../assets/css/Drag-and-Drop-File-Input.css">
    <link rel="stylesheet" href="../assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css">
    <link rel="stylesheet" href="../assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="../assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="../assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../assets/css/login-form---Ambrodu-1.css">
    <link rel="stylesheet" href="../assets/css/login-form---Ambrodu.css">
    <link rel="stylesheet" href="../assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="../assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../assets/css/Responsive-Image-File-Input.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/jquery.toast.css">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
            <div><a class="navbar-brand d-table-row" href="/" style="font-size: 40px;">El Kiosko</a><label class="form-label d-table-row" style="font-size: 1.5em;">Creando colecci칩n</label></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/logout" style="font-size: 20px;background: rgb(179,236,236);color: rgb(34,34,34);">Cerrar Sesi칩n</a></span>
            </div>
        </div>
    </nav>
    <div class="m-5">
        <p>Introduzca al menos 10 im치genes correspondientes a los cromos de la nueva colecci칩n.</p>
        <div id="backdrop" class="backdrop backdrop-transition backdrop-dark">
            <div class="text-center w-100" style="position: absolute;top: 50%;">
                <div class="bg-light border rounded border-success shadow-lg m-auto" style="width: 150px;height: 150px;"><i class="fa fa-upload d-block p-4" style="font-size: 50px;"></i><span>Drop file to attach</span></div>
            </div>
        </div>
        <div class="bg-light border rounded border-light pt-1 jumbotron py-5 px-4">
            <div class="alert alert-success invisible mt-5" role="alert"><span id="notify"></span></div>
            <h1>Subida de imagenes</h1>
            <p><label class="form-label" for="form-files"><a class="btn btn-secondary btn-sm" role="button">Selecciona</a></label>&nbsp;o arrastra aqui tus archivos<br></p>
            <p id="filecount"><br></p>
            <div id="list"></div>
            <img id="gifCargando" src="../assets/img/loading.gif" style="display: none;" width="65">
            <input class="form-control invisible" type="file" id="form-files" name="files" multiple="" accept="image/*">
            <input class="form-control" type="text" id="nombreColeccion" placeholder="Nombre de la coleccion" style="margin-bottom: 15px;margin-top: 15px;" name="nombreColeccion">            
            <button class="btn btn-outline-primary d-block w-100" type="button" onclick="submitForm()">Enviar</button><button class="btn btn-danger mt-5" type="reset" onclick="clearFiles()">Resetear</button>
        </div>
        <div class="text-center bg-light border rounded border-dark shadow-lg p-3"><img id="image_preview" width="100">
            <div><button class="btn btn-warning btn-sm m-3" onclick="previewClose()">Cerrar</button></div>
        </div>
        <div class="m-5">
            <div id="backdrop-1" class="backdrop backdrop-transition backdrop-dark">
                <div class="text-center w-100" style="position: absolute;top: 50%;">
                    <div class="bg-light border rounded border-success shadow-lg m-auto" style="width: 150px;height: 150px;"><i class="fa fa-upload d-block p-4" style="font-size: 50px;"></i><span>Drop file to attach</span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../assets/js/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/crearColeccion.js"></script>
    <script src="/assets/js/jquery.toast.js"></script>

</body>

</html>