<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kiosko</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Jumbotron-with-Particles-js-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Jumbotron-with-Particles-js.css">
    <link rel="stylesheet" href="assets/css/Card-Store.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/login-form---Ambrodu-1.css">
    <link rel="stylesheet" href="assets/css/login-form---Ambrodu.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Responsive-Image-File-Input.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/jquery.toast.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bounce animated navigation-clean-button">
        <div class="container">
            <div><a class="navbar-brand d-table-row" href="/" style="font-size: 40px;">El Kiosko</a><label class="form-label d-table-row" style="font-size: 1.5em;">Panel de Administrador</label></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><label class="form-label" style="font-size: 1.5em;"><%=nombre%></label><i class="fas fa-user-cog fa-3x" style="padding: 0 1em 0 1em;"></i><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/logout" style="font-size: 20px;background: rgb(179,236,236);color: rgb(34,34,34);">Cerrar Sesión</a></span>
            </div>
        </div>
    </nav>
    <section class="bounce animated features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Bienvenido <%=nombre%></h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="/admin/crearColeccion" style="text-decoration: none;color: black;">
                    <div data-bss-hover-animate="pulse" class="box w-100 h-100" style="border-radius: 15px;"><i class="fas fa-hammer icon"></i>
                        <h3 class="name">Crear colección</h3>
                        <p class="description">Crea nuevas colecciones de cromos. OJO mínimo 10 cromos</p>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a onclick="duplicarCromos()" style="text-decoration: none;color: black; cursor: pointer">
                    <div data-bss-hover-animate="pulse" class="box w-100 h-100" style="border-radius: 15px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon">
                            <path d="M9 13H15M12 10L12 16M17 21H7C5.89543 21 5 20.1046 5 19V5C5 3.89543 5.89543 3 7 3H12.5858C12.851 3 13.1054 3.10536 13.2929 3.29289L18.7071 8.70711C18.8946 8.89464 19 9.149 19 9.41421V19C19 20.1046 18.1046 21 17 21Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <h3 class="name">Añadir copias de cromos</h3>
                        <p class="description">Pon a la venta nuevas copias de los cromos ya existentes</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.toast.js"></script>
    <script src="assets/js/indexadmin.js"></script>
</body>

</html>