<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kiosko</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="/assets/css/Bold-BS4-Jumbotron-with-Particles-js-1.css">
    <link rel="stylesheet" href="/assets/css/Bold-BS4-Jumbotron-with-Particles-js.css">
    <link rel="stylesheet" href="/assets/css/Drag-and-Drop-File-Input.css">
    <link rel="stylesheet" href="/assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/login-form---Ambrodu-1.css">
    <link rel="stylesheet" href="/assets/css/login-form---Ambrodu.css">
    <link rel="stylesheet" href="/assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/Responsive-Image-File-Input.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: rgb(255, 255, 255);height: 100%;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/" style="font-size: 40px;">El Kiosko</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/#loginForm" style="font-size: 20px;color: rgb(70, 87, 101);">Iniciar sesión</a><a class="btn btn-light action-button" role="button" href="/registro" style="font-size: 20px;background: rgb(179,236,236);color: rgb(34,34,34);">Regístrate!</a></span>
            </div>
        </div>
    </nav>
    <section class="highlight-phone" style="height: 700px;background: rgb(238, 244, 247);">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Bienvenido al Kiosko</h2>
                        <p>Completa pasatiempos, resuelve enigmas, gana puntos, compra cromos! Bienvenido al kiosko.</p>
                    </div><a class="btn btn-light action-button" role="button" href="/registro" style="font-size: 20px;background: rgb(179,236,236);color: rgb(34,34,34);">Únete!</a>
                </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block phone-mockup"><img class="device" src="/assets/img/phone.svg">
                        <div class="screen"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="body" style="padding-top: 150px;padding-bottom: 150px;height: 650px;background: #ecb3b7;" name="loginForm">
        <div class="border rounded shadow login-center" data-aos="fade-down-right">
            <form id="loginForm" style="padding-top: 32px;">
                <div class="text-center form-group mb-3" style="height: 163px;"><img class="img-fluid" style="height: 100%;" src="/assets/img/authentication.png"></div>
                <div class="d-flex justify-content-center form-group mb-3"><input class="form-control" type="text" id="usuario_login" style="width: 200px;" placeholder="Usuario"></div>
                <div class="d-flex justify-content-center form-group mb-3"><input class="form-control" type="password" id="contrasenya_login" style="width: 200px;" placeholder="Contraseña"></div>
                <div class="d-flex justify-content-center form-group mb-3"><button class="btn btn-dark action-button" id="boton_submit_login" type="button" style="font-size: 20px;background: rgb(179,236,236);color: rgb(34,34,34);border-style: none;" onclick="login()">Iniciar Sesión</button></div>
            </form>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>