<h2>Bienvenido, la coleccion es <%= nombreColeccion %>!</h2>

Rellene los atributos de cada cromo de la colección:

<form>
    <% fotos.forEach(function(foto) { %>
        <div class="cromoRellenar">
            La imagen del cromo es: <%= foto %>
            <input type='text' placeholder="Nombre"/>
            <input type='text' placeholder="Precio"/>
            <img src='/cromos/Cars/matias.png'>
        </div>
    <% }); %>
</form>

