<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
</head>
<body>
<a href="/socio" style="
  border: 0;
  padding: 10px 20px;
  background: #ffe830;
  color: #222222;
  border-radius: 5px;
  text-decoration: none;
   font-family: 'Roboto', sans-serif;
  margin-top: 25px !important;">Salir</a>
<script src="../../assets/js/tetris.js"></script>
</body>
</html>